.header-box{
    text-align: center;
    border: black 1px solid;
    margin: auto;
    padding: 20px;
    background:url("/images/bnr_dmm.jpg");
    background-size: cover;
    max-width: 400px;
    position: relative;

}
.header-box::before{
    content: "";
    position: absolute;
    top:0 ; left: 0;
    right: 0;   bottom: 0;
    background: rgba(255,255,255,0.6);
    z-index: 1;
}
.header-box h1{
    position: relative;
    z-index: 2;

}
nav{ background: orange;
    width: 100%;
}
.custom-rounded-bottom{
    border-radius: 0 0 40px 40px;
}